body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 30px auto;
  }
  
  .header {
    background: #1dd1a1; 
    padding: 30px 20px;
    text-align: center; 
    color: white;
    margin-bottom: 30px;
  }
  
  h1, h3 {
    margin: 0;
  }
  
  .project {
    background: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  } 
  
  .project-title-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  
  .project h3 {
    margin: 0; 
  }
  
  .project p {
    margin: 0;
    font-size: 0.9em;
    color: #888;
  }

  .project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background: #1dd1a1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }

  .task {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between; /* Task spans the width, buttons on far right */
    align-items: center;
}

.task.high-priority {
  border: 2px solid firebrick;
}

.task-buttons {
    display: flex;
}

.expand-task-button {
    background: #1dd1a1;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.delete-task-button {
    background: #ff5656;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.task-details {
    display: none;
    margin-top: 10px;
}

.expand-task-button.active + .task-details {
    display: block;
}