body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 30px auto;
  }
  
  .header {
    background: #1dd1a1; 
    padding: 30px 20px;
    text-align: center; 
    color: white;
    margin-bottom: 30px;
  }
  
  h1, h3 {
    margin: 0;
  }
  
  .project {
    background: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  } 
  
  .project-title-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  
  .project h3 {
    margin: 0; 
  }
  
  .project p {
    margin: 0;
    font-size: 0.9em;
    color: #888;
  }

  .project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background: #1dd1a1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }

  .task-outer {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .task {
    padding: 5px;
    display: flex;
    justify-content: space-between; /* Task spans the width, buttons on far right */
    align-items: center;
}

.task-outer.high-priority {
  border: 2px solid firebrick;
}

.task-buttons {
    display: flex;
}

.task-button {
  cursor: pointer;
  padding-left: 5px;
}

.expand-task-button.active + .task-details {
    display: block;
}

/* Style for the due date container */
.due-date-container {
  display: flex;
  align-items: center;
  color: slategray;; /* Adjust the color as needed */
  font-size: 0.8em; /* Smaller font size */
  margin-top: 5px; /* Adjust the margin as needed */
  margin-left: 20px;
}

/* Style for the due date icon */
.due-date-container img {
  width: 14px; /* Adjust the size of the calendar icon as needed */
  margin-right: 5px; /* Spacing between the icon and the due date text */
}

.due-date-container span {
  line-height: 10px; /* Adjust to match the height of the calendar icon */
  margin-top: 5px;
}

.task-details {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #F8F8F8;
}